.card-produto {
    background-color: white;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
    display: block;
}

.card-button {
    background-color: #2fa52f; /* verde igual do professor */
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.card-button:hover {
    background-color: #248f24;
}

