body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
color: #333;
background-color: #f5f5f5;
}

.page-container {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.card-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.section.title.center{
    padding: 30px;
    max-width: 800px;
    margin: 40px auto;
    font-size: 50px;
    border-bottom: 2px solid #a3e635;
    padding-bottom: 5px;
}

.section-card-container{
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: white;
}