.header-style {
    background-color: #005f00;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-container{
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}

.logo-image{
 font-size: 30px;
 font-weight: bold;
 cursor: pointer;
}

.nav-menu{
 display: flex;
 gap: 20px;
 align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-shadow: 1px 1px 5px black;
}