.contato-container {
    padding: 40px 0;
    text-align: center;
}

.contato-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
    border-bottom: 2px solid #4CAF50; /* linha verde */
    display: inline-block;
    padding-bottom: 5px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.contact-input,
.contact-textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact-textarea {
    height: 150px;
    resize: none;
}

.contact-button {
    background-color: #006400;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
}

.contact-button:hover {
    background-color: #004d00;
}

